# Ignore all non-dotfiles (by first ignoring everything, then allowing files beginning with period)
/*
!.*

# Dotfile blacklist
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.bash_history
.cache/
.cups/
.gem/
.local/
.node-gyp/
.npm/
.ssh/
.vagrant.d/
.vim/.netrwhist
.vim/disabled-bundles
.vim/tmp
.virtualenvs/
.zsh_history
.zcompdump*
