# Override defaults
priority 1

snippet "(?i)plug" "Add vim-plug plugin" br
Plug '$1'
endsnippet

snippet h1 "Top-level section"
"======================================================================
" Section: ${1:NAME} {{{1
"======================================================================
endsnippet

snippet h2 "Second-level section"
"---------- ${1:NAME} ----------
endsnippet
